/**
 *
 * Button Block.
 * “Arrow (r)” Block Style.
 * Note: default button element styles can be found at `./src/scss/shared/_button.scss
 */

.wp-block-button.is-style-bks-button-arrow-right {

    img[src*="/assets/img/icon-mask.png"] {
        background: currentcolor;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 100% 100%;
    }
}

