/**
 *
 * Button Block.
 * “Flat” Block Style.
 * Note: default button element styles can be found at `./src/scss/shared/_button.scss
 */

.wp-block-button.is-style-bks-button-flat {

    .wp-block-button__link {
        &,
        &:where( :active, :hover, :focus, :visited ) {
            box-shadow: none;
            border-radius: 0;
            margin-top: initial;
            margin-bottom: initial;
        }
    }
}

