/**
 *
 * Navigation Link Block.
 * “Hide (tab)” Block Style.
 *
 */

.is-style-bks-hide-on-medium-screens {

	@media ( min-width: 600px ) and ( max-width: 1024px ) {

		// Hide it only on medium screens.
		position: absolute;
	    width: 1px;
	    clip: rect(0 0 0 0);
	    overflow: hidden;
	    white-space: nowrap;
	}
}
