/**
 *
 * Post Date Block.
 * Class: is-style-bks-loop-post-date.
 * Note: unavailable in the UI.
 *
 */

.wp-block-post-date.is-style-bks-loop-post-date {

        padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
        border: thin solid var(--wp--preset--color--contrast-opacity-20);
        border-radius: var(--wp--custom--border--radius--big);

        &:hover {
            background-size: 0;
        }
}
