/**
 *
 * Post Terms Block.
 * Class: is-style-bks-loop-post-terms.
 * Note: unavailable in the UI.
 *
 */

.wp-block-post-terms.is-style-bks-loop-post-terms {

    // The separator does not make sense in this style.
    .wp-block-post-terms__separator {
        display: none;
    }

    // Make sure that spacing between terms are consistent with other elements.
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--wp--preset--spacing--20);

    a {
        padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
        border: thin solid var(--wp--preset--color--contrast-opacity-20);
        border-radius: var(--wp--custom--border--radius--big);
        display: inline-block;

        &:hover {
            background-size: 0;
            border-color: var(--wp--preset--color--links)
        }
    }
}
