/**
 *
 * Group Block.
 * Class: is-style-bks-loop-read-more-eye.
 * Note: unavailable in the UI.
 *
 */

.wp-block-read-more.is-style-bks-loop-read-more-eye {

    // Eye (visited posts).
    // position: absolute;
    // left: calc(var(--wp--preset--spacing--50)*-1);
    // top: var(--wp--preset--spacing--20);
    display: block;
    transform: scale(var(--ggs,1));
    width: 21px;
    height: 15px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-color: var(--wp--preset--color--base);
    overflow: hidden;
    box-sizing: border-box;
    visibility: hidden;

    &::after,
    &::before {
     visibility: visible;
        content: "";
        display: block;
        border-radius: 100px;
        position: absolute;
        box-sizing: border-box;
        color: var(--wp--preset--color--base);
    }

    &::after {
        top: 2px;
        box-shadow:
            inset 0 -8px 0 2px,
            inset 0 0 0 2px;
     width: 21px;
     height: 21px;
    }

    &::before {
     width: 7px;
        height: 7px;
        border: 2px solid;
        bottom: 3px;
        left: 7px;
    }

    &:visited::before,
    &:visited::after {
        color: var(--wp--preset--color--border-20);
    }
}
