@if ($enable-classes and $enable-grid) {

    /**
     * Grid
     * Minimal grid system with auto-layout columns.
     */
    .bks-form {

        div.bks-form-grid {
            grid-column-gap: var(--wp--custom--spacing--45);
            grid-row-gap: var(--wp--custom--spacing--45);
            display: grid;
            grid-template-columns: 1fr;
            margin: 0 0 var(--wp--custom--spacing--45) 0;
            align-items: end;

            @if map-get($breakpoints, "lg") {
                @media (min-width: map-get($breakpoints, "lg")) {
                    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
                }
            }

            & > * {
                min-width: 0; // HACK for childs in overflow
            }
        }
    }
}
