/**
 *
 * Columns Block.
 * These are styles or inner elements that can't be targetted using theme.json
 *
 */

.wp-block-columns {

	&.has-background {
		padding: var(--wp--preset--spacing--30);
	}

	.alignleft,
	.alignright {
		margin-left: 0;
		margin-right: 0;
	}
}
