/**
 *
 * File Block.
 * These are styles or inner elements that can't be targetted using theme.json
 *
 */

.wp-block-file {

    display: flex;
    align-items: center;

    // Redefining default editor font-size.
    &:not(.wp-element-button) {
        font-size: var(--wp--preset--font-size--small);
    }

    // Overriding core styles.
    .wp-element-button {
        padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--40);
        border-radius: var(--wp--preset--spacing--10);
        display: inline-block;

        &:hover {
            box-shadow:
                0 1px 3px 0 var(--wp--preset--color--contrast-50),
                0 1px 2px 0 var(--wp--preset--color--contrast-100);
        }

        &:is( :active, :hover, :focus ) {
            opacity: 1;
        }
    }
}
