/**
 *
 * Media Text Block.
 * These are styles or inner elements that can't be targetted using theme.json
 *
 */

.wp-block-media-text {

	.wp-block-media-text__content {
		padding: 0 var(--wp--preset--spacing--60);
	}

	.wp-block-media-text__content *:last-child {
		margin-bottom: var(--wp--preset--spacing--60);
	}
}
