/**
 *
 * Paragraph Block.
 * These are styles or inner elements that can't be targetted using theme.json
 *
 */

// This fake selector is necessary until #46702 is solved. :P
.wp-block-TEMP {
    color: inherit;
}

// Add padding if a background color is set.
p {
    .has-background {
        padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
    }

    &.has-drop-cap:not(:focus)::first-letter {
        line-height: var(--wp--custom--typography--line-height--x-small);
        font-size: 4.3rem;
        margin: 0.2rem .6rem -0.6rem -0.2rem;
    }
}

// Adjustment for Gecko only.
@supports (-moz-appearance:button) and (contain:paint) {

    p.has-drop-cap:not(:focus):first-letter {
        margin-top: .6rem;
    }
}

@media only screen and (max-width: 1000px ) {

    p.has-drop-cap:not(:focus):first-letter {
        font-size: 4rem;
    }
}
