/**
 *
 * Post Author Block.
 * These are styles or inner elements that can't be targetted using theme.json
 *
 */

.wp-block-post-author {

    .wp-block-post-author__byline,
    .wp-block-post-author__name,
    .wp-block-post-author__bio {
        font-size: var(--wp--custom--typography--font-size--x-small);
    }

    .wp-block-post-author__name {
        text-transform: uppercase;
        letter-spacing: var(--wp--custom--spacing--10);
    }

    .avatar {
        border-radius: 100px;
    }
}
