/**
 *
 * Table Block.
 * These are styles or inner elements that can't be targetted using theme.json
 *
 */

.wp-block-table {

    overflow: visible;

     > table {
        margin-bottom: 0;
        font-size: var(--wp--custom--typography--font-size--x-small);
    }

     td {
        border: none
    }

     :is( td, th ) {
        padding: var(--wp--preset--spacing--20);
        padding-left: var(--wp--preset--spacing--40);
    }

     thead {
        border: 0;
    }

     thead tr {
        text-align: left;
    }

     tbody tr {
        border-bottom: thin solid var(--wp--preset--color--primary-300);
        border-color: var(--wp--preset--color--primary-300);
        background-color: var(--wp--preset--color--base);
    }

    tbody strong,
    tfoot strong {
        color: var(--wp--preset--color--primary-800);
    }

     tfoot {
        border-color: var(--wp--preset--color--primary-300);
        background-color: var(--wp--preset--color--primary-opacity-20);
    }

    thead th {
        border-bottom: thin solid var(--wp--preset--color--primary-300);
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        a,
        a:hover {
            color: var(--wp--preset--color--base);
            text-decoration-color: var(--wp--preset--color--base);
        }
    }

    // Overriding core styles.

    &.is-style-stripes tbody tr:nth-child(odd) {
        background-color: var(--wp--preset--color--primary-opacity-10);
    }

    &.is-style-stripes {
        border: 0;
    }
}

/*=====  Theming  ======*/

.wp-block-table {

    table {
        margin-bottom: 0;
        border-top-left-radius: var(--wp--preset--spacing--10);
        border-top-right-radius: var(--wp--preset--spacing--10);
    }

    thead th {
        color: var(--wp--preset--color--base);
        background-color: var(--wp--preset--color--primary-800);
        border: 0;

        a:visited {
            color: var(--wp--preset--color--base);
        }
    }

    thead th:first-child {
        border-top-left-radius: var(--wp--preset--spacing--10);
    }

    thead th:last-child {
        border-top-right-radius: var(--wp--preset--spacing--10);
    }

    table:has( tfoot ) {
        border-bottom-left-radius: var(--wp--preset--spacing--10);
        border-bottom-right-radius: var(--wp--preset--spacing--10);
    }

    tbody tr:last-of-type {
        border-bottom: 4px solid var(--wp--preset--color--primary-800);
    }
}
