<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-style-bookshelf-blocks-sticky"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:query {"queryId":0,"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"align":"full","layout":{"inherit":true}} -->
<div class="wp-block-query alignfull"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"className":"is-style-default is-style-bks-query-post-title"} /-->

<!-- wp:read-more /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group"><!-- wp:post-author {"showAvatar":false,"byline":""} /-->

<!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-comments-count /-->

<!-- wp:post-comments-link /--></div>
<!-- /wp:group -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->

<!-- wp:post-featured-image /-->

<!-- wp:post-excerpt {"showMoreOnNewLine":false} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous {"label":"Previous"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"label":"Next"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique sollicitudin nibh sit amet commodo nulla. Enim nulla aliquet porttitor lacus luctus. Dapibus ultrices in iaculis nunc sed. Nibh venenatis cras sed felis eget.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Posuere urna nec tincidunt praesent. Egestas diam in arcu cursus euismod quis viverra. Ac turpis egestas maecenas pharetra convallis posuere. Aliquam vestibulum morbi blandit cursus. Feugiat in fermentum posuere urna. Dictum varius duis at consectetur lorem donec. Lacus luctus accumsan tortor posuere ac ut.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"className":"wp-block-heading"} -->
<h2 class="wp-block-heading">Site Title and Site Description blocks</h2>
<!-- /wp:heading -->

<!-- wp:site-title /-->

<!-- wp:site-tagline /-->

<!-- wp:paragraph -->
<p>Posuere urna nec tincidunt praesent. Egestas diam in arcu cursus euismod quis viverra. Ac turpis egestas maecenas pharetra convallis posuere. Aliquam vestibulum morbi blandit cursus. Feugiat in fermentum posuere urna. Dictum varius duis at consectetur lorem donec. Lacus luctus accumsan tortor posuere ac ut.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Posuere urna nec tincidunt praesent. Egestas diam in arcu cursus euismod quis viverra. Ac turpis egestas maecenas pharetra convallis posuere. Aliquam vestibulum morbi blandit cursus. Feugiat in fermentum posuere urna. Dictum varius duis at consectetur lorem donec. Lacus luctus accumsan tortor posuere ac ut.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"className":"wp-block-heading"} -->
<h2 class="wp-block-heading">Site Comments Block</h2>
<!-- /wp:heading -->

<!-- wp:comments -->
<div class="wp-block-comments"><!-- wp:comments-title /-->

<!-- wp:comment-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments -->

<!-- wp:heading {"className":"wp-block-heading"} -->
<h2 class="wp-block-heading">User Avatar Block</h2>
<!-- /wp:heading -->

<!-- wp:avatar {"userId":1,"isLink":true,"linkTarget":"_blank","style":{"border":{"radius":"100px"}}} /-->

<!-- wp:post-excerpt /-->

<!-- wp:heading {"className":"wp-block-heading"} -->
<h2 class="wp-block-heading">Post Featured Image Block</h2>
<!-- /wp:heading -->

<!-- wp:post-featured-image /-->

<!-- wp:heading {"className":"wp-block-heading"} -->
<h2 class="wp-block-heading">Post Author Block</h2>
<!-- /wp:heading -->

<!-- wp:post-author {"showBio":true,"byline":"\u003cem\u003eAutor\u003c/em\u003e"} /-->

<!-- wp:read-more /-->

<!-- wp:loginout /-->

<!-- wp:term-description /-->

<!-- wp:post-author-biography /-->

<!-- wp:post-author-name /-->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-terms {"term":"post_tag"} /-->

<!-- wp:query-title {"type":"archive"} /-->

<!-- wp:query-title {"type":"search"} /-->

<!-- wp:paragraph -->
<p>In hac habitasse platea dictumst vestibulum rhoncus est. Velit euismod in pellentesque massa placerat duis ultricies. Consequat nisl vel pretium lectus quam id leo in. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Sed adipiscing diam donec adipiscing.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Malesuada bibendum arcu vitae elementum curabitur vitae. Fringilla ut morbi tincidunt augue. Sit amet porttitor eget dolor morbi non arcu risus quis. Sed odio morbi quis commodo odio aenean sed adipiscing. Proin nibh nisl condimentum id. Nisi lacus sed viverra tellus in. Cursus sit amet dictum sit amet justo donec enim diam. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Non quam lacus suspendisse faucibus interdum.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->