<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"has-global-padding","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-global-padding"><!-- wp:post-title {"level":1} /-->

<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group"><!-- wp:post-author {"showAvatar":false} /-->

<!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:post-content {"align":"full","className":"bks-content","layout":{"inherit":true}} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
