/**
 *
 * Alignment sytles (floats)
 *
 */

// Deal with full aligned blocks.
.has-global-padding > .alignfull {
    margin-right: calc(var(--wp--style--root--padding-right) * -1);
    margin-left: calc(var(--wp--style--root--padding-left) * -1);

    // Remove top margin on consecutive fully-aligned blocks.
    + .alignfull {
    	margin-top: 0;
    }
}

/**
 *
 * Restrict the width of left or right aligned blocks.
 * NOTE: The body selector in needed to overwrite core styles.
 */
body [class*="is-layout"] [class*="wp-block"] {

	&.alignleft,
	&.alignright {
		max-width: 60%;
		margin-bottom: var(--wp--preset--spacing--20);
	}

	&.alignright {
		float: right;
		margin-left: var(--wp--preset--spacing--50);
	}

	&.alignleft {
		float: left;
		margin-right: var(--wp--preset--spacing--50);
	}

	&.alignright:first-child,
	&.alignleft:first-child {
		margin-top: var(--wp--preset--spacing--20);
	}

	&.alignright:not(:first-child),
	&.alignleft:not(:first-child) {
		margin-top: var(--wp--preset--spacing--50);
	}
}


// Make all blocks full width on mobile.
@media ( max-width: 768px ) {

	body [class*="is-layout"] [class*="wp-block"] {
		&.alignright,
		&.alignleft {
			width: 100%;
			float: none;
			max-width: 100%;
			margin-right: 0;
			margin-left: 0;
			text-align: center;
		}
	}
}
