/**
 *
 * List styles.
 * Includes styles for all blocks that use bullets or numbers as markers.
 *
 */

ul.wp-block-list,
ul.wp-block-archives,
ul.wp-block-categories,
div.wp-block-categories > ul, // Necessary for the editor. Added here for brevity.
ul.wp-block-page-list,
ul.wp-block-rss {

    padding-left: 1.2rem;
    list-style-type: none;
    marker: none;

    ul {

        > li::before {
            content: '\0025C6';
            mask-image: none;
            background-color: transparent;
            list-style-type: none;
            top: 0.1rem;
            font-size: 1rem;
        }
    }

    li {
        position: relative;
    }

    > li:not(.wp-block-navigation-item)::before {
        padding: .1rem;
        content: '';
        width: 10px;
        height: 12px;
        display: inline-block;
        position: absolute;
        top: 0.6rem;
        left: -1.2rem;
        margin-right: -0.6rem;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='%23888888' d='m11.71 15.29l2.59-2.59a.996.996 0 0 0 0-1.41L11.71 8.7c-.63-.62-1.71-.18-1.71.71v5.17c0 .9 1.08 1.34 1.71.71z'/%3E%3C/svg%3E");
        mask-position: center;
        mask-repeat: no-repeat;
        background-color: var(--wp--preset--color--contrast);
    }
}

ul.wp-block-categories,
div.wp-block-categories > ul, // Necessary for the editor. Added here for brevity.
ul.wp-block-page-list {

    ul {

        margin-top: 0;
        padding-left: var(--wp--preset--spacing--40);
        list-style-type: none;

        > li:not(.wp-block-navigation-item) {
            text-indent: -1.2rem;
        }

        > li:not(.wp-block-navigation-item)::before {
            top: -0.1rem;
            margin-right: .5rem;
            position: relative;
        }
    }
}

// Overwriting the padding value in Safari.
@supports(font:-apple-system-body){
    ul.wp-block-list,
    ul.wp-block-archives,
    ul.wp-block-categories,
    div.wp-block-categories > ul, // Necessary for the editor.
    ul.wp-block-page-list,
    ul.wp-block-rss {
        padding-left: 1.5rem;
    }
}

ol.wp-block-list {
    padding-left: calc( var(--wp--preset--spacing--50) );

    /**
     *
     * Removes the dots in list items. Depends on the @counter-style declaration
     * added to both editor-unfiltered.css and front-end.css
     *
     */
    list-style-type: dotless-item-decimal;

    &[type="A"] {
        list-style-type: dotless-item-upper-alpha;
    }

    &[type="a"] {
        list-style-type: dotless-item-lower-alpha;
    }

    &[type="I"] {
        list-style-type: dotless-item-upper-roman;
    }

    &[type="i"] {
        list-style-type: dotless-item-lower-roman;
    }
}


.wp-site-blocks ol > li::marker, // Temporary front-end selector, while #12420 is solved.
ol.wp-block-list li::marker {
    font-weight: bold;
}
