/**
 *
 * Global utility classes.
 * Note: each block CSS can include its own utility classes.
 *
 */

// Visually hidden elements.
.is-style-bks-hide {
    position: absolute;
    width: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

// Visually hidden on mobile.
@media (max-width: 600px) {
    .is-style-bks-hide-mobile {
        position: absolute;
        width: 1px;
        clip: rect(0 0 0 0);
        overflow: hidden;
        white-space: nowrap;
    }
}

// Avatars.
.avatar {
    box-shadow: 0 1px 3px 0 var(--wp--preset--color--contrast-50), 0 1px 2px 0 var(--wp--preset--color--contrast-100);
}

// Sticky headers (only use it on the front for screens above 782px width).
@media screen and (min-width: 782px) {

    .is-style-bks-sticky {
        position: sticky;
        top: 0;
        z-index: 999;
    }

     // Move the sticky position down to adjust for the WordPress admin bar.
    .admin-bar .is-style-bks-sticky {
        top: 32px;
    }
}
